@import "../variables";
@import "../mixins";


/* category grille */
.category section{ height:auto; margin-bottom:25px; min-height:auto; }
.category section .thumb-wrapper{ @include make-grid(5, 2%, 2%); }

.category p{ color:$vert; margin-bottom:30px; }
.category p a{ display:inline-block; width:100%; font-size:1.4rem; margin-top:55px; font-weight:500; text-decoration:underline; text-align:center; color:$rouge; }
.category p a:hover{ color:$vert; }

/* thumb a */
.category section .thumb-wrapper a{ display:block; position:relative; width:100%; height:100%; margin:0 10px 0 0;}

/* thumb infos  */
.category section .thumb-wrapper .titre{ position:absolute; vertical-align:center; width:100%; height:auto; padding:0px 10px 0 10px; top: 50%; left:0;  transform: translateY(-50%);  display:none; font-size:1.8rem; font-family: $font-custom3; text-align: center; color:#fff; z-index: 2;}
@media screen and (max-width: 840px) {
  .category section .thumb-wrapper .titre{ font-size:1.3rem; }
}
/* thumb afficher au hover */
.category section .thumb-wrapper:hover .titre{ display:block; }

.category section .thumb-wrapper img{ width:100%; height:auto; }

/* thumb bg hover */
.category section .thumb-wrapper .bg{ position:absolute; width:100%; height:100%; top:0; left:0; display: none; z-index: 1; }
.category section .thumb-wrapper:nth-child(1n) .bg{ background:$rouge; opacity: 0.74; }
.category section .thumb-wrapper:nth-child(2n) .bg{ background:$vertfonce; opacity: 0.74; }
.category section .thumb-wrapper:nth-child(3n) .bg{ background:$vert; opacity: 0.74; }
.category section .thumb-wrapper:nth-child(4n) .bg{ background:$vertclair; opacity: 0.74; }
.category section .thumb-wrapper:hover .titre, .category section .thumb-wrapper:hover .bg{ display:block; }
