@import "../variables";
@import "../mixins";


.gallery { margin: auto; text-align: center; } 
.gallery .gallery-item { display:inline-block; margin: 10px 5px 0 0; text-align: center; width: 75px; height:50px; }
.gallery img { width:auto; height:100%; }
.gallery .gallery-caption { margin-left: 0; }
