@import "../variables";
@import "../mixins";



/* Menu divider
========================================================================== */
// header nav ul li.nav-main_sep{ width:7px; height:inherit; line-height:1.2rem; background: url('../images/menu-main_sep.png') no-repeat center center; overflow:hidden; text-indent:-1000px; }
// header nav ul li.nav-main_sep:last-child{ display: none !important; }


/* Styles specifiques
========================================================================== */
#nav-main2, #nav-main2 li{ float:right; }
#nav-main2 ul{ right:0; }
