@import "../variables";


/* meta slider */

/* controllers */
#home .flex-control-paging{ bottom:-22px!important; }

/* viewport */
.metaslider .flexslider{ margin-bottom:0!important; }
/* centrage de certaines images */
.flex-viewport li a img{ transform: translateY(50%); }
.flex-viewport li:nth-child(2) a img{ transform: none!important; }

/* thumb */
.metaslider .flex-control-thumbs{ margin-top:11px; }
.metaslider .flex-control-thumbs li { border:1px solid #bcbcbc; margin-right:5px; }
.metaslider .flex-control-thumbs li:last-child { margin-right:0px; }
.metaslider ol.flex-control-thumbs img, #content .metaslider ol.flex-control-thumbs img{ margin:0!important; }
