@import "../variables";

#error p{ text-align:center; }
// #error .container{ text-align:center; }
// #error section{ padding:50px 0; color:$beige; }
// #error footer{ position:fixed; width:100%; bottom:0; left:0; }
