@charset "UTF-8";
/*
	Config file and project variables
  Modified : ico-ono (JUIN 2016)
*/
/*
	Config file and project variables
  Modified : ico-ono (JUIN 2016)
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Border-box model for all elements */
html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

/* listes default style */
ul, ol {
  padding-left: 2em; }

/* images */
img {
  vertical-align: middle; }

img:not([src$=".svg"]) {
  height: auto; }

/* other */
blockquote, figure {
  margin-left: 0;
  margin-right: 0; }

textarea {
  resize: none; }

body {
  min-width: 320px;
  min-height: 100% !important;
  height: 100%;
  font-family: "museo_sans100", "sans-serif";
  font-size: 1.4rem;
  background: #fff; }

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  /* disallow text zooming on orientation change (non standard property) */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* font-sizing for content */
p, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
  margin-top: 0.75em;
  margin-bottom: 0; }

/* font-sizing for title */
/* alternate font-sizing
.smaller { font-size: 0.6em; }
.small { font-size: 0.8em; }
.big { font-size: 1.2em; }
.bigger { font-size: 1.5em; }
.biggest { font-size: 2em; } */
/* other */
code, pre, samp, kbd {
  /* IE fix */
  white-space: pre-line;
  white-space: pre-wrap;
  line-height: normal; }

em, address, cite, i, var {
  font-style: italic; }

/* hidden but not for assistance tools, Yahoo! method */
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important; }

/* avoid top margins on first content element */
p:first-child, ul:first-child, ol:first-child, dl:first-child, blockquote:first-child, pre:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

/* avoid margins on nested elements */
li p, li ul, li ol {
  margin-top: 0;
  margin-bottom: 0; }

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video, svg {
  max-width: 100%; }

/* margin-bottom on tables */
.ms-anim-layers {
  width: inherit;
  height: inherit; }

/* module, gains superpower "BFC" Block Formating Context */
.mod, .bfc {
  overflow: hidden; }

/* blocks that needs to be placed under floats */
.clear, .line, .row {
  clear: both; }

/* blocks that must contain floats  */
.clearfix::after, .line::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse; }

/* text and contents alignment */
.txtleft {
  text-align: left; }

.txtright {
  text-align: right; }

.txtcenter {
  text-align: center; }

/* simple method */
.left {
  margin-right: auto; }

.right {
  margin-left: auto; }

.center {
  margin-left: auto;
  margin-right: auto; }

/* floating method */
.fl {
  float: left; }

.fr {
  float: right; }

img.fl {
  margin-right: 0; }

img.fr {
  margin-left: 0; }

img.fl, img.fr {
  margin-bottom: 0; }

/* table-cell method */
.row {
  display: table;
  table-layout: fixed;
  width: 100%; }

.row > *, .col {
  display: table-cell;
  vertical-align: top; }

body > script {
  display: none !important; }

/* no table-cell for script tag when body is a .row */
/* inline-block methode (problème de whitespace) */
.inbl {
  display: inline-block;
  vertical-align: top; }

/* flexbox methode (compatible à partir ie10) */
/* ==========================================================================
   _____   _____    _____   _____
  / ____| |  __ \  |_   _| |  __  | |  __  | |__) |   | |   | |  | |
 | | |_ | |  _  /    | |   | |  | |
 | |__| | | | \ \   _| |_  | |__| |
  \_____| |_|  \_\ |_____| |_____/

  BREAKPOINTS : 1680 / 1280 / 980 / 840 / 640 / 480

========================================================================== */
/* ROW */
.row {
  box-sizing: border-box; }

.row > * {
  float: left;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

/* LARGEUR COLONNES */
.size-12 {
  width: 100%; }

.size-11 {
  width: 91.6666666667%; }

.size-10 {
  width: 83.3333333333%; }

.size-9 {
  width: 75%; }

.size-8 {
  width: 66.6666666667%; }

.size-7 {
  width: 58.3333333333%; }

.size-6 {
  width: 50%; }

.size-5 {
  width: 41.6666666667%; }

.size-4 {
  width: 33.3333333333%; }

.size-3 {
  width: 25%; }

.size-2 {
  width: 16.6666666667%; }

.size-1 {
  width: 8.3333333333%; }

.push-11 {
  margin-left: 91.66667%; }

.push-10 {
  margin-left: 83.33333%; }

.push-9 {
  margin-left: 75%; }

.push-8 {
  margin-left: 66.66667%; }

.push-7 {
  margin-left: 58.33333%; }

.push-6 {
  margin-left: 50%; }

.push-5 {
  margin-left: 41.66667%; }

.push-4 {
  margin-left: 33.33333%; }

.push-3 {
  margin-left: 25%; }

.push-2 {
  margin-left: 16.66667%; }

.push-1 {
  margin-left: 8.33333%; }

.push-0 {
  margin-left: 0; }

@media screen and (max-width: 1680px) {
  /* LARGEUR COLONNES */
  .size-12-wide {
    width: 100%; }
  .size-11-wide {
    width: 91.6666666667%; }
  .size-10-wide {
    width: 83.3333333333%; }
  .size-9-wide {
    width: 75%; }
  .size-8-wide {
    width: 66.6666666667%; }
  .size-7-wide {
    width: 58.3333333333%; }
  .size-6-wide {
    width: 50%; }
  .size-5-wide {
    width: 41.6666666667%; }
  .size-4-wide {
    width: 33.3333333333%; }
  .size-3-wide {
    width: 25%; }
  .size-2-wide {
    width: 16.6666666667%; }
  .size-1-wide {
    width: 8.3333333333%; }
  .push-11-wide {
    margin-left: 91.66667%; }
  .push-10-wide {
    margin-left: 83.33333%; }
  .push-9-wide {
    margin-left: 75%; }
  .push-8-wide {
    margin-left: 66.66667%; }
  .push-7-wide {
    margin-left: 58.33333%; }
  .push-6-wide {
    margin-left: 50%; }
  .push-5-wide {
    margin-left: 41.66667%; }
  .push-4-wide {
    margin-left: 33.33333%; }
  .push-3-wide {
    margin-left: 25%; }
  .push-2-wide {
    margin-left: 16.66667%; }
  .push-1-wide {
    margin-left: 8.33333%; }
  .push-0-wide {
    margin-left: 0; }
  .inner-wide {
    padding: 0 0px; } }

@media screen and (max-width: 1280px) {
  /* LARGEUR COLONNES */
  .size-12-normal {
    width: 100%; }
  .size-11-normal {
    width: 91.6666666667%; }
  .size-10-normal {
    width: 83.3333333333%; }
  .size-9-normal {
    width: 75%; }
  .size-8-normal {
    width: 66.6666666667%; }
  .size-7-normal {
    width: 58.3333333333%; }
  .size-6-normal {
    width: 50%; }
  .size-5-normal {
    width: 41.6666666667%; }
  .size-4-normal {
    width: 33.3333333333%; }
  .size-3-normal {
    width: 25%; }
  .size-2-normal {
    width: 16.6666666667%; }
  .size-1-normal {
    width: 8.3333333333%; }
  .push-11-normal {
    margin-left: 91.66667%; }
  .push-10-normal {
    margin-left: 83.33333%; }
  .push-9-normal {
    margin-left: 75%; }
  .push-8-normal {
    margin-left: 66.66667%; }
  .push-7-normal {
    margin-left: 58.33333%; }
  .push-6-normal {
    margin-left: 50%; }
  .push-5-normal {
    margin-left: 41.66667%; }
  .push-4-normal {
    margin-left: 33.33333%; }
  .push-3-normal {
    margin-left: 25%; }
  .push-2-normal {
    margin-left: 16.66667%; }
  .push-1-normal {
    margin-left: 8.33333%; }
  .push-0-normal {
    margin-left: 0; }
  .inner-normal {
    padding: 0 0px; } }

@media screen and (max-width: 980px) {
  /* LARGEUR COLONNES */
  .size-12-narrow {
    width: 100%; }
  .size-11-narrow {
    width: 91.6666666667%; }
  .size-10-narrow {
    width: 83.3333333333%; }
  .size-9-narrow {
    width: 75%; }
  .size-8-narrow {
    width: 66.6666666667%; }
  .size-7-narrow {
    width: 58.3333333333%; }
  .size-6-narrow {
    width: 50%; }
  .size-5-narrow {
    width: 41.6666666667%; }
  .size-4-narrow {
    width: 33.3333333333%; }
  .size-3-narrow {
    width: 25%; }
  .size-2-narrow {
    width: 16.6666666667%; }
  .size-1-narrow {
    width: 8.3333333333%; }
  .push-11-narrow {
    margin-left: 91.66667%; }
  .push-10-narrow {
    margin-left: 83.33333%; }
  .push-9-narrow {
    margin-left: 75%; }
  .push-8-narrow {
    margin-left: 66.66667%; }
  .push-7-narrow {
    margin-left: 58.33333%; }
  .push-6-narrow {
    margin-left: 50%; }
  .push-5-narrow {
    margin-left: 41.66667%; }
  .push-4-narrow {
    margin-left: 33.33333%; }
  .push-3-narrow {
    margin-left: 25%; }
  .push-2-narrow {
    margin-left: 16.66667%; }
  .push-1-narrow {
    margin-left: 8.33333%; }
  .push-0-narrow {
    margin-left: 0; }
  .inner-narrow {
    padding: 0 0px; } }

@media screen and (max-width: 840px) {
  /* LARGEUR COLONNES */
  .size-12-narrower {
    width: 100%; }
  .size-11-narrower {
    width: 91.6666666667%; }
  .size-10-narrower {
    width: 83.3333333333%; }
  .size-9-narrower {
    width: 75%; }
  .size-8-narrower {
    width: 66.6666666667%; }
  .size-7-narrower {
    width: 58.3333333333%; }
  .size-6-narrower {
    width: 50%; }
  .size-5-narrower {
    width: 41.6666666667%; }
  .size-4-narrower {
    width: 33.3333333333%; }
  .size-3-narrower {
    width: 25%; }
  .size-2-narrower {
    width: 16.6666666667%; }
  .size-1-narrower {
    width: 8.3333333333%; }
  .push-11-narrower {
    margin-left: 91.66667%; }
  .push-10-narrower {
    margin-left: 83.33333%; }
  .push-9-narrower {
    margin-left: 75%; }
  .push-8-narrower {
    margin-left: 66.66667%; }
  .push-7-narrower {
    margin-left: 58.33333%; }
  .push-6-narrower {
    margin-left: 50%; }
  .push-5-narrower {
    margin-left: 41.66667%; }
  .push-4-narrower {
    margin-left: 33.33333%; }
  .push-3-narrower {
    margin-left: 25%; }
  .push-2-narrower {
    margin-left: 16.66667%; }
  .push-1-narrower {
    margin-left: 8.33333%; }
  .push-0-narrower {
    margin-left: 0; }
  .inner-narrower {
    padding: 0 0px; } }

@media screen and (max-width: 640px) {
  /* LARGEUR COLONNES */
  .size-12-mobile {
    width: 100%; }
  .size-11-mobile {
    width: 91.6666666667%; }
  .size-10-mobile {
    width: 83.3333333333%; }
  .size-9-mobile {
    width: 75%; }
  .size-8-mobile {
    width: 66.6666666667%; }
  .size-7-mobile {
    width: 58.3333333333%; }
  .size-6-mobile {
    width: 50%; }
  .size-5-mobile {
    width: 41.6666666667%; }
  .size-4-mobile {
    width: 33.3333333333%; }
  .size-3-mobile {
    width: 25%; }
  .size-2-mobile {
    width: 16.6666666667%; }
  .size-1-mobile {
    width: 8.3333333333%; }
  .push-11-mobile {
    margin-left: 91.66667%; }
  .push-10-mobile {
    margin-left: 83.33333%; }
  .push-9-mobile {
    margin-left: 75%; }
  .push-8-mobile {
    margin-left: 66.66667%; }
  .push-7-mobile {
    margin-left: 58.33333%; }
  .push-6-mobile {
    margin-left: 50%; }
  .push-5-mobile {
    margin-left: 41.66667%; }
  .push-4-mobile {
    margin-left: 33.33333%; }
  .push-3-mobile {
    margin-left: 25%; }
  .push-2-mobile {
    margin-left: 16.66667%; }
  .push-1-mobile {
    margin-left: 8.33333%; }
  .push-0-mobile {
    margin-left: 0; }
  .inner-mobile {
    padding: 0 0px; } }

@media screen and (max-width: 480px) {
  /* LARGEUR COLONNES */
  .size-12-mobilep {
    width: 100%; }
  .size-11-mobilep {
    width: 91.6666666667%; }
  .size-10-mobilep {
    width: 83.3333333333%; }
  .size-9-mobilep {
    width: 75%; }
  .size-8-mobilep {
    width: 66.6666666667%; }
  .size-7-mobilep {
    width: 58.3333333333%; }
  .size-6-mobilep {
    width: 50%; }
  .size-5-mobilep {
    width: 41.6666666667%; }
  .size-4-mobilep {
    width: 33.3333333333%; }
  .size-3-mobilep {
    width: 25%; }
  .size-2-mobilep {
    width: 16.6666666667%; }
  .size-1-mobilep {
    width: 8.3333333333%; }
  .push-11-mobilep {
    margin-left: 91.66667%; }
  .push-10-mobilep {
    margin-left: 83.33333%; }
  .push-9-mobilep {
    margin-left: 75%; }
  .push-8-mobilep {
    margin-left: 66.66667%; }
  .push-7-mobilep {
    margin-left: 58.33333%; }
  .push-6-mobilep {
    margin-left: 50%; }
  .push-5-mobilep {
    margin-left: 41.66667%; }
  .push-4-mobilep {
    margin-left: 33.33333%; }
  .push-3-mobilep {
    margin-left: 25%; }
  .push-2-mobilep {
    margin-left: 16.66667%; }
  .push-1-mobilep {
    margin-left: 8.33333%; }
  .push-0-mobilep {
    margin-left: 0; }
  .inner-mobilep {
    padding: 0 0px; } }

/* ==========================================================================
  _____  ______  _____ _____   ____  _   _  _____ _______      ________
 |  __ \|  ____|/ ____|  __ \ / __ \| \ | |/ ____|_   _\ \    / /  ____|
 | |__) | |__  | (___ | |__) | |  | |  \| | (___   | |  \ \  / /| |__
 |  _  /|  __|  \___ \|  ___/| |  | | . ` |\___ \  | |   \ \/ / |  __|
 | | \ \| |____ ____) | |    | |__| | |\  |____) |_| |_   \  /  | |____
 |_|  \_\______|_____/|_|     \____/|_| \_|_____/|_____|   \/   |______|

   ========================================================================== */
figure img {
  width: 100%;
  height: auto; }

/*==========================================================================
  _____    ______    _____   _____     ____    _   _    _____   _____  __      __  ______     __  __   ______   _   _   _    _
 |  __ \  |  ____|  / ____| |  __ \   / __ \  | \ | |  / ____| |_   _| \ \    / / |  ____|   |  \/  | |  ____| | \ | | | |  | |
 | |__) | | |__    | (___   | |__) | | |  | | |  \| | | (___     | |    \ \  / /  | |__      | \  / | | |__    |  \| | | |  | |
 |  _  /  |  __|    \___ \  |  ___/  | |  | | | . ` |  \___ \    | |     \ \/ /   |  __|     | |\/| | |  __|   | . ` | | |  | |
 | | \ \  | |____   ____) | | |      | |__| | | |\  |  ____) |  _| |_     \  /    | |____    | |  | | | |____  | |\  | | |__| |
 |_|  \_\ |______| |_____/  |_|       \____/  |_| \_| |_____/  |_____|     \/     |______|   |_|  |_| |______| |_| \_|  \____/

 ========================================================================== */
#navPanel, #titleBar {
  display: none; }

@media screen and (max-width: 840px) {
  #nav-main, #nav-produits {
    display: none !important; }
  #page-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    padding-bottom: 1px; }
  #navButton {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001; }
  #navButton .toggle {
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    outline: 0; }
  #navButton .toggle:before {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    position: absolute;
    border-top: 0; }
  #navPanel {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 10002; }
  #navPanel:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  #navPanel .link {
    position: relative;
    z-index: 1;
    display: block;
    text-decoration: none;
    color: #ddd;
    border: 0;
    border-top: dotted 1px rgba(255, 255, 255, 0.05);
    padding: .5em; }
  #navPanel .indent-1, #navPanel .indent-2, #navPanel .indent-3, #navPanel .indent-4, #navPanel .indent-5 {
    display: inline-block; } }

/* ==========================================================================
   _____    ____    _   _   _______              _____   _   _   ______   _____
  / ____|  / __ \  | \ | | |__   __|     /\     |_   _| | \ | | |  ____| |  __  | |      | |  | | |  \| |    | |       /  \      | |   |  \| | | |__    | |__) |
 | |      | |  | | | . ` |    | |      / /\ \     | |   | . ` | |  __|   |  _  /
 | |____  | |__| | | |\  |    | |     / ____ \   _| |_  | |\  | | |____  | | \   \_____|  \____/  |_| \_|    |_|    /_/    \_\ |_____| |_| \_| |______| |_|  \_
========================================================================== */
#page-wrapper {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 30px; }

@media screen and (max-width: 640px) {
  #page-wrapper {
    padding: 20px !important; } }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media screen and (min-width: 1280px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 1280px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 980px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 840px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 736px) {
    .container {
      width: 100%px;
      padding: 10px; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%px;
      padding: 10px; } }

section {
  width: 100%; }

/* ==========================================================================
  _    _   ______              _____    ______   _____
 | |  | | |  ____|     /\     |  __ \  |  ____| |  __  | |__| | | |__       /  \    | |  | | | |__    | |__) |
 |  __  | |  __|     / /\ \   | |  | | |  __|   |  _  /
 | |  | | | |____   / ____ \  | |__| | | |____  | | \  |_|  |_| |______| /_/    \_\ |_____/  |______| |_|  \_
   ========================================================================== */
header {
  position: relative;
  top: 0;
  z-index: 10000;
  height: 80px; }

/* logo */
header #logo {
  position: absolute;
  display: block;
  z-index: 200;
  width: 117px;
  height: 40px;
  top: 0px;
  margin-left: 50%;
  margin-right: auto;
  left: -58.5px; }

/* Menu
========================================================================== */
header nav ul {
  list-style: none;
  padding-left: 0;
  background: #fff;
  width: 300px; }

header nav ul li {
  display: block;
  float: left;
  margin-top: 0px;
  margin-left: 0px; }

header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: lowercase;
  text-decoration: none;
  color: #fe2c22;
  padding: 10px 0px; }

header nav ul li a:hover {
  color: #00b6ad; }

header nav ul li.current-menu-item a, header nav ul li.current-menu-parent a {
  color: #00b6ad; }

@media screen and (max-width: 1000px) {
  header nav ul li a {
    font-size: 1.4rem;
    padding: 20px 4px; } }

/* Menu SUB
========================================================================== */
header #navigation .sub-menu {
  /*display:none;*/
  position: absolute;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  overflow: hidden; }

header #navigation ul li {
  vertical-align: top; }

header #navigation .menu-item-has-children:hover .sub-menu {
  display: block;
  -webkit-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s; }

header #navigation .menu-item-has-children:hover .sub-menu li {
  clear: both;
  float: left;
  width: 100% !important; }

header #navigation .menu-item-has-children:hover .sub-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 !important; }

/*==========================================================================
  _____    ______    _____   _____     ____    _   _    _____   _____  __      __  ______     __  __   ______   _   _   _    _
 |  __ \  |  ____|  / ____| |  __ \   / __ \  | \ | |  / ____| |_   _| \ \    / / |  ____|   |  \/  | |  ____| | \ | | | |  | |
 | |__) | | |__    | (___   | |__) | | |  | | |  \| | | (___     | |    \ \  / /  | |__      | \  / | | |__    |  \| | | |  | |
 |  _  /  |  __|    \___ \  |  ___/  | |  | | | . ` |  \___ \    | |     \ \/ /   |  __|     | |\/| | |  __|   | . ` | | |  | |
 | | \ \  | |____   ____) | | |      | |__| | | |\  |  ____) |  _| |_     \  /    | |____    | |  | | | |____  | |\  | | |__| |
 |_|  \_\ |______| |_____/  |_|       \____/  |_| \_| |_____/  |_____|     \/     |______|   |_|  |_| |______| |_| \_|  \____/

 ========================================================================== */
#navPanel, #titleBar {
  display: none; }

@media screen and (max-width: 840px) {
  #page-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    padding-bottom: 1px; }
  #navButton {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001; }
  #navButton .toggle {
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    outline: 0; }
  #navButton .toggle:before {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    position: absolute;
    border-top: 0; }
  #navPanel {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 10002; }
  #navPanel:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  #navPanel .link {
    position: relative;
    z-index: 1;
    display: block;
    text-decoration: none;
    color: #ddd;
    border: 0;
    border-top: dotted 1px rgba(255, 255, 255, 0.05);
    padding: .5em; }
  #navPanel .indent-1, #navPanel .indent-2, #navPanel .indent-3, #navPanel .indent-4, #navPanel .indent-5 {
    display: inline-block; } }

/* ==========================================================================
  _                  __     __  ______   _____     _____   _        _____   _____    ______   _____
 | |          /\     \ \   / / |  ____| |  __ \   / ____| | |      |_   _| |  __ \  |  ____| |  __  | |         /  \     \ \_/ /  | |__    | |__) | | (___   | |        | |   | |  | | | |__    | |__) |
 | |        / /\ \     \   /   |  __|   |  _  /   \___ \  | |        | |   | |  | | |  __|   |  _  /
 | |____   / ____ \     | |    | |____  | | \ \   ____) | | |____   _| |_  | |__| | | |____  | | \  |______| /_/    \_\    |_|    |______| |_|  \_\ |_____/  |______| |_____| |_____/  |______| |_|  \_
   ========================================================================== */
/* Fullscreen
========================================================================== */
/*.ls-wp-fullwidth-container, .ls-wp-fullwidth-helper, .ls-wp-container, .ls-inner{ height:100vh!important; }
.ls-wp-fullwidth-container img{ height:100%!important; width:100%!important; }
section.fullscreen{ position:absolute; top:0; margin-top:0; z-index:-1; }
@media screen and (max-width: 480px){ .ls-wp-fullwidth-container, .ls-wp-fullwidth-helper, .ls-wp-container, .ls-inner{ height:50vh!important; } }

*/
/* ==========================================================================
  ______    ____    _____    __  __
 |  ____|  / __ \  |  __ \  |  \/  |
 | |__    | |  | | | |__) | | \  / |
 |  __|   | |  | | |  _  /  | |\/| |
 | |      | |__| | | | \ \  | |  | |
 |_|       \____/  |_|  \_\ |_|  |_|

   ========================================================================== */
textarea, input {
  outline: none; }

/* remove glow chrome / safari */
/* Icon
========================================================================== */
.icon-android-search:before, .icon-ios-search:before, .icon-ios-search-strong:before, .icon-search:before, .iconehome a:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  line-height: 1; }

.icon-android-search:before {
  content: "\f2f5"; }

.icon-ios-search:before {
  content: "\f4a5"; }

.icon-ios-search-strong:before {
  content: "\f4a4"; }

.icon-search:before {
  content: "\f21f"; }

.iconehome a:before {
  content: "\f144"; }

/* lang depliable
========================================================================== */
/* lang une ligne
========================================================================== */
#nav-lang {
  list-style: none; }

#nav-lang #menu-item-248 a:first-child, #nav-lang .sub-menu img {
  display: none; }

#nav-lang {
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  right: 20px;
  list-style: none;
  padding-left: 0;
  background: #fff;
  width: "auto"; }

#nav-lang .sub-menu {
  padding-left: 0; }

#nav-lang .sub-menu li {
  display: inline-block; }

#nav-lang .sub-menu a {
  display: block !important;
  font-size: 1.3rem;
  color: #fe2c22;
  text-decoration: none; }

#nav-lang .sub-menu li.current-menu-item a {
  color: #fe2c22; }

.qtranxs-lang-menu-fr .qtranxs-lang-menu-item-fr a {
  color: #fe2c22 !important; }

#nav-lang2 {
  display: none; }

@media screen and (max-width: 1100px) {
  #nav-lang {
    display: none; }
  #nav-lang2 {
    display: block !important;
    list-style: none; }
  #nav-lang2 .menu-item-248 a:first-child, #nav-lang2 .sub-menu img {
    display: none; }
  #nav-lang2 {
    text-transform: uppercase;
    position: absolute;
    top: 8px;
    right: 20px;
    list-style: none;
    padding-left: 0;
    background: #fff;
    width: 120px; }
  #nav-lang2 .sub-menu {
    padding-left: 0; }
  #nav-lang2 .sub-menu li {
    display: inline-block; }
  #nav-lang2 .sub-menu a {
    display: block !important;
    font-size: 1.3rem;
    color: #fe2c22;
    text-decoration: none; }
  #nav-lang2 .sub-menu li.current-menu-item a {
    color: #fe2c22; } }

/* ==========================================================================
   _____    ____    _   _   _______              _____   _   _   ______   _____
  / ____|  / __ \  | \ | | |__   __|     /\     |_   _| | \ | | |  ____| |  __  | |      | |  | | |  \| |    | |       /  \      | |   |  \| | | |__    | |__) |
 | |      | |  | | | . ` |    | |      / /\ \     | |   | . ` | |  __|   |  _  /
 | |____  | |__| | | |\  |    | |     / ____ \   _| |_  | |\  | | |____  | | \   \_____|  \____/  |_| \_|    |_|    /_/    \_\ |_____| |_| \_| |______| |_|  \_
========================================================================== */
#page-wrapper {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 30px; }

@media screen and (max-width: 640px) {
  #page-wrapper {
    padding: 20px !important; } }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media screen and (min-width: 1280px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 1280px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 980px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 840px) {
    .container {
      width: 100%px;
      padding: 0px; } }
  @media screen and (max-width: 736px) {
    .container {
      width: 100%px;
      padding: 10px; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%px;
      padding: 10px; } }

section {
  width: 100%; }

/* ==========================================================================
  _    _   ______              _____    ______   _____
 | |  | | |  ____|     /\     |  __ \  |  ____| |  __  | |__| | | |__       /  \    | |  | | | |__    | |__) |
 |  __  | |  __|     / /\ \   | |  | | |  __|   |  _  /
 | |  | | | |____   / ____ \  | |__| | | |____  | | \  |_|  |_| |______| /_/    \_\ |_____/  |______| |_|  \_
   ========================================================================== */
header {
  position: relative;
  top: 0;
  z-index: 10000;
  height: 80px; }

/* logo */
header #logo {
  position: absolute;
  display: block;
  z-index: 200;
  width: 117px;
  height: 40px;
  top: 0px;
  margin-left: 50%;
  margin-right: auto;
  left: -58.5px; }

/* Menu
========================================================================== */
header nav ul {
  list-style: none;
  padding-left: 0;
  background: #fff;
  width: 300px; }

header nav ul li {
  display: block;
  float: left;
  margin-top: 0px;
  margin-left: 0px; }

header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: lowercase;
  text-decoration: none;
  color: #fe2c22;
  padding: 10px 0px; }

header nav ul li a:hover {
  color: #00b6ad; }

header nav ul li.current-menu-item a, header nav ul li.current-menu-parent a {
  color: #00b6ad; }

@media screen and (max-width: 1000px) {
  header nav ul li a {
    font-size: 1.4rem;
    padding: 20px 4px; } }

/* Menu SUB
========================================================================== */
header #navigation .sub-menu {
  /*display:none;*/
  position: absolute;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  overflow: hidden; }

header #navigation ul li {
  vertical-align: top; }

header #navigation .menu-item-has-children:hover .sub-menu {
  display: block;
  -webkit-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s; }

header #navigation .menu-item-has-children:hover .sub-menu li {
  clear: both;
  float: left;
  width: 100% !important; }

header #navigation .menu-item-has-children:hover .sub-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 !important; }

/*==========================================================================
  _____    ______    _____   _____     ____    _   _    _____   _____  __      __  ______     __  __   ______   _   _   _    _
 |  __ \  |  ____|  / ____| |  __ \   / __ \  | \ | |  / ____| |_   _| \ \    / / |  ____|   |  \/  | |  ____| | \ | | | |  | |
 | |__) | | |__    | (___   | |__) | | |  | | |  \| | | (___     | |    \ \  / /  | |__      | \  / | | |__    |  \| | | |  | |
 |  _  /  |  __|    \___ \  |  ___/  | |  | | | . ` |  \___ \    | |     \ \/ /   |  __|     | |\/| | |  __|   | . ` | | |  | |
 | | \ \  | |____   ____) | | |      | |__| | | |\  |  ____) |  _| |_     \  /    | |____    | |  | | | |____  | |\  | | |__| |
 |_|  \_\ |______| |_____/  |_|       \____/  |_| \_| |_____/  |_____|     \/     |______|   |_|  |_| |______| |_| \_|  \____/

 ========================================================================== */
#navPanel, #titleBar {
  display: none; }

@media screen and (max-width: 840px) {
  #page-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    padding-bottom: 1px; }
  #navButton {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001; }
  #navButton .toggle {
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    outline: 0; }
  #navButton .toggle:before {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    position: absolute;
    border-top: 0; }
  #navPanel {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0 .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    display: block;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 10002; }
  #navPanel:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  #navPanel .link {
    position: relative;
    z-index: 1;
    display: block;
    text-decoration: none;
    color: #ddd;
    border: 0;
    border-top: dotted 1px rgba(255, 255, 255, 0.05);
    padding: .5em; }
  #navPanel .indent-1, #navPanel .indent-2, #navPanel .indent-3, #navPanel .indent-4, #navPanel .indent-5 {
    display: inline-block; } }

/* ==========================================================================
  _                  __     __  ______   _____     _____   _        _____   _____    ______   _____
 | |          /\     \ \   / / |  ____| |  __ \   / ____| | |      |_   _| |  __ \  |  ____| |  __  | |         /  \     \ \_/ /  | |__    | |__) | | (___   | |        | |   | |  | | | |__    | |__) |
 | |        / /\ \     \   /   |  __|   |  _  /   \___ \  | |        | |   | |  | | |  __|   |  _  /
 | |____   / ____ \     | |    | |____  | | \ \   ____) | | |____   _| |_  | |__| | | |____  | | \  |______| /_/    \_\    |_|    |______| |_|  \_\ |_____/  |______| |_____| |_____/  |______| |_|  \_
   ========================================================================== */
/* Fullscreen
========================================================================== */
/*.ls-wp-fullwidth-container, .ls-wp-fullwidth-helper, .ls-wp-container, .ls-inner{ height:100vh!important; }
.ls-wp-fullwidth-container img{ height:100%!important; width:100%!important; }
section.fullscreen{ position:absolute; top:0; margin-top:0; z-index:-1; }
@media screen and (max-width: 480px){ .ls-wp-fullwidth-container, .ls-wp-fullwidth-helper, .ls-wp-container, .ls-inner{ height:50vh!important; } }

*/
/* ==========================================================================
  ______    ____    _____    __  __
 |  ____|  / __ \  |  __ \  |  \/  |
 | |__    | |  | | | |__) | | \  / |
 |  __|   | |  | | |  _  /  | |\/| |
 | |      | |__| | | | \ \  | |  | |
 |_|       \____/  |_|  \_\ |_|  |_|

   ========================================================================== */
textarea, input {
  outline: none; }

/* remove glow chrome / safari */
/* Icon
========================================================================== */
.icon-android-search:before, .icon-ios-search:before, .icon-ios-search-strong:before, .icon-search:before, .iconehome a:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  line-height: 1; }

.icon-android-search:before {
  content: "\f2f5"; }

.icon-ios-search:before {
  content: "\f4a5"; }

.icon-ios-search-strong:before {
  content: "\f4a4"; }

.icon-search:before {
  content: "\f21f"; }

.iconehome a:before {
  content: "\f144"; }

/* lang depliable
========================================================================== */
/* lang une ligne
========================================================================== */
#nav-lang {
  list-style: none; }

#nav-lang #menu-item-248 a:first-child, #nav-lang .sub-menu img {
  display: none; }

#nav-lang {
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  right: 20px;
  list-style: none;
  padding-left: 0;
  background: #fff;
  width: "auto"; }

#nav-lang .sub-menu {
  padding-left: 0; }

#nav-lang .sub-menu li {
  display: inline-block; }

#nav-lang .sub-menu a {
  display: block !important;
  font-size: 1.3rem;
  color: #fe2c22;
  text-decoration: none; }

#nav-lang .sub-menu li.current-menu-item a {
  color: #fe2c22; }

.qtranxs-lang-menu-fr .qtranxs-lang-menu-item-fr a {
  color: #fe2c22 !important; }

#nav-lang2 {
  display: none; }

@media screen and (max-width: 1100px) {
  #nav-lang {
    display: none; }
  #nav-lang2 {
    display: block !important;
    list-style: none; }
  #nav-lang2 .menu-item-248 a:first-child, #nav-lang2 .sub-menu img {
    display: none; }
  #nav-lang2 {
    text-transform: uppercase;
    position: absolute;
    top: 8px;
    right: 20px;
    list-style: none;
    padding-left: 0;
    background: #fff;
    width: 120px; }
  #nav-lang2 .sub-menu {
    padding-left: 0; }
  #nav-lang2 .sub-menu li {
    display: inline-block; }
  #nav-lang2 .sub-menu a {
    display: block !important;
    font-size: 1.3rem;
    color: #fe2c22;
    text-decoration: none; }
  #nav-lang2 .sub-menu li.current-menu-item a {
    color: #fe2c22; } }

/* ==========================================================================
  _    _   ______              _____    ______   _____
 | |  | | |  ____|     /\     |  __ \  |  ____| |  __  | |__| | | |__       /  \    | |  | | | |__    | |__) |
 |  __  | |  __|     / /\ \   | |  | | |  __|   |  _  /
 | |  | | | |____   / ____ \  | |__| | | |____  | | \  |_|  |_| |______| /_/    \_\ |_____/  |______| |_|  \_
   ========================================================================== */
/* Logo
   ========================================================================== */
/* logo anim */
header #logo:hover {
  opacity: 0.7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
