/*
	Config file and project variables
  Modified : ico-ono (JUIN 2016)
*/


// FONT FAMILY
//--------------------------------------------------------
$font-custom : "museo_sans100", "sans-serif";
$font-custom2 : "museo_sans300", "sans-serif";
$font-custom2-italic : "museo_sans300", "sans-serif";
$font-custom3 : "museo_sans700", "sans-serif";
//$font-icon : "FontAwesome";
$font-size : 1.4rem !default;				// 1rem equiv "10px" en gardant 1.4rem comme base

// BACKGROUND
//--------------------------------------------------------
	$site-bg: #fff;

// COLORS
//--------------------------------------------------------
	$rouge: #fe2c22;
	$vert: #00b6ad;
	$gris: #dad9d7;
	$vertfonce: #005359;
	$vertclair: #cae300;

// CONTAINER
//--------------------------------------------------------
	$container: 66%; 								// 100%, taille
	$container-position: "center";  	// center, right, left
	$padding-global: 30px;
	$padding-screen: 0px;
	$padding-mobile: 10px;


	/* ==========================================================================
	  _    _   ______              _____    ______   _____
	 | |  | | |  ____|     /\     |  __ \  |  ____| |  __ \
	 | |__| | | |__       /  \    | |  | | | |__    | |__) |
	 |  __  | |  __|     / /\ \   | |  | | |  __|   |  _  /
	 | |  | | | |____   / ____ \  | |__| | | |____  | | \ \
	 |_|  |_| |______| /_/    \_\ |_____/  |______| |_|  \_\

	   ========================================================================== */

// HEIGHT
//--------------------------------------------------------
	$header-height: 80px;

// LOGO
//--------------------------------------------------------
	$logo-width: 117px;
	$logo-height: 40px;
	$logo-position: "topleft";			// topcenter, topright, topleft, bottomcenter, bottomright, bottomleft
	$logo-x: 0px;
	$logo-y: 0px;

// NAV-MAIN
//--------------------------------------------------------
	$nav-bg:;
	$nav-width: 300px;
	$nav-position:"topleft";				// topcenter, topright, topleft
	$nav-x:0px;
	$nav-y:0px;

	//NAV-MAIN items
	$navitems-bg:;
	$navitems-font-family:$font-custom2;
	$navitems-font-size:1.8rem;
	$navitems-font-weight:500;
	$navitems-cap:"false";
	$navitems-underline:"false";
	$navitems-color:$rouge;
	$navitems-padding-x:0px;
	$navitems-padding-y:5px;

	//NAV-MAIN items _Hover
	$navitems-bg_H:;
	$navitems-color_H:$vert;

	//NAV-MAIN items _Actif
	$navitems-bg_A:;
	$navitems-color_A:$vert;

	// NAV-MAIN niveau2
	//--------------------------------------------------------
		$nav-bg-n2:#ffffff;
		$nav-width-n2: 300px;
		$nav-position-n2:"topleft";				// topcenter, topright, topleft
		$nav-x-n2:0px;
		$nav-y-n2:0px;

		//NAV-MAIN items
		$navitems-bg-n2:#ffffff;
		$navitems-font-family-n2:$font-custom2;
		$navitems-font-size-n2:1.1rem;
		$navitems-font-weight-n2:100;
		$navitems-cap-n2:"false";
		$navitems-underline-n2:"false";
		$navitems-color-n2:$rouge;
		$navitems-padding-x-n2:3px;
		$navitems-padding-y-n2:3px;

		//NAV-MAIN items _Hover
		$navitems-bg-n2_H:;
		$navitems-color-n2_H:$vert;

		//NAV-MAIN items _Actif
		$navitems-bg-n2_A:;
		$navitems-color-n2_A:$vert;


// GRID :
// gutter/nbre colomns/leftside/rightside

	// grids variables (choose unit you prefer)
	$gutter:  2% !default; // gutter value for grid layouts. Unit can be: %, px, em, rem

//kna-namespace (default : null)
$kna-namespace: null !default;
