@import "../variables";
/* ==========================================================================
   _____   _____    _____   _____
  / ____| |  __ \  |_   _| |  __ \
 | |  __  | |__) |   | |   | |  | |
 | | |_ | |  _  /    | |   | |  | |
 | |__| | | | \ \   _| |_  | |__| |
  \_____| |_|  \_\ |_____| |_____/

  BREAKPOINTS : 1680 / 1280 / 980 / 840 / 640 / 480

========================================================================== */

/* ROW */
.row{  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.row > *{ float:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.row:after,.row:before{ content:''; display:block; clear:both; height:0; }

/* LARGEUR COLONNES */
.size-12{width:100%;}
.size-11{width:91.6666666667%;}
.size-10{width:83.3333333333%;}
.size-9{width:75%;}
.size-8{width:66.6666666667%;}
.size-7{width:58.3333333333%;}
.size-6{ width:50%; }
.size-5{width:41.6666666667%;}
.size-4{width:33.3333333333%;}
.size-3{width:25%;}
.size-2{width:16.6666666667%;}
.size-1{width:8.3333333333%;}
//.size-12, .size-11, .size-10, .size-9, .size-8, .size-7, .size-6, .size-5, .size-4, .size-3, .size-2, .size-1{ float:left; }
//.size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * { clear:left; }

.push-11{margin-left:91.66667%;}
.push-10{margin-left:83.33333%;}
.push-9{margin-left:75%;}
.push-8{margin-left:66.66667%;}
.push-7{margin-left:58.33333%;}
.push-6{margin-left:50%;}
.push-5{margin-left:41.66667%;}
.push-4{margin-left:33.33333%;}
.push-3{margin-left:25%;}
.push-2{margin-left:16.66667%;}
.push-1{margin-left:8.33333%;}
.push-0{margin-left:0;}
@media screen and (max-width: 1680px) {
  /* LARGEUR COLONNES */
  .size-12-wide{width:100%;}
  .size-11-wide{width:91.6666666667%;}
  .size-10-wide{width:83.3333333333%;}
  .size-9-wide{width:75%;}
  .size-8-wide{width:66.6666666667%;}
  .size-7-wide{width:58.3333333333%;}
  .size-6-wide{width:50%;}
  .size-5-wide{width:41.6666666667%;}
  .size-4-wide{width:33.3333333333%;}
  .size-3-wide{width:25%;}
  .size-2-wide{width:16.6666666667%;}
  .size-1-wide{width:8.3333333333%;}
  //.size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-wide{margin-left:91.66667%;}
  .push-10-wide{margin-left:83.33333%;}
  .push-9-wide{margin-left:75%;}
  .push-8-wide{margin-left:66.66667%;}
  .push-7-wide{margin-left:58.33333%;}
  .push-6-wide{margin-left:50%;}
  .push-5-wide{margin-left:41.66667%;}
  .push-4-wide{margin-left:33.33333%;}
  .push-3-wide{margin-left:25%;}
  .push-2-wide{margin-left:16.66667%;}
  .push-1-wide{margin-left:8.33333%;}
  .push-0-wide{margin-left:0;}
  .inner-wide{ padding:0 $padding-screen }
}
@media screen and (max-width: 1280px){
  /* LARGEUR COLONNES */
  .size-12-normal{width:100%;}
  .size-11-normal{width:91.6666666667%;}
  .size-10-normal{width:83.3333333333%;}
  .size-9-normal{width:75%;}
  .size-8-normal{width:66.6666666667%;}
  .size-7-normal{width:58.3333333333%;}
  .size-6-normal{width:50%;}
  .size-5-normal{width:41.6666666667%;}
  .size-4-normal{width:33.3333333333%;}
  .size-3-normal{width:25%;}
  .size-2-normal{width:16.6666666667%;}
  .size-1-normal{width:8.3333333333%;}
//  .size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-normal{margin-left:91.66667%;}
  .push-10-normal{margin-left:83.33333%;}
  .push-9-normal{margin-left:75%;}
  .push-8-normal{margin-left:66.66667%;}
  .push-7-normal{margin-left:58.33333%;}
  .push-6-normal{margin-left:50%;}
  .push-5-normal{margin-left:41.66667%;}
  .push-4-normal{margin-left:33.33333%;}
  .push-3-normal{margin-left:25%;}
  .push-2-normal{margin-left:16.66667%;}
  .push-1-normal{margin-left:8.33333%;}
  .push-0-normal{margin-left:0;}
  .inner-normal{ padding:0 $padding-screen }
}
@media screen and (max-width: 980px) {
  /* LARGEUR COLONNES */
  .size-12-narrow{width:100%;}
  .size-11-narrow{width:91.6666666667%;}
  .size-10-narrow{width:83.3333333333%;}
  .size-9-narrow{width:75%;}
  .size-8-narrow{width:66.6666666667%;}
  .size-7-narrow{width:58.3333333333%;}
  .size-6-narrow{width:50%;}
  .size-5-narrow{width:41.6666666667%;}
  .size-4-narrow{width:33.3333333333%;}
  .size-3-narrow{width:25%;}
  .size-2-narrow{width:16.6666666667%;}
  .size-1-narrow{width:8.3333333333%;}
//  .size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-narrow{margin-left:91.66667%;}
  .push-10-narrow{margin-left:83.33333%;}
  .push-9-narrow{margin-left:75%;}
  .push-8-narrow{margin-left:66.66667%;}
  .push-7-narrow{margin-left:58.33333%;}
  .push-6-narrow{margin-left:50%;}
  .push-5-narrow{margin-left:41.66667%;}
  .push-4-narrow{margin-left:33.33333%;}
  .push-3-narrow{margin-left:25%;}
  .push-2-narrow{margin-left:16.66667%;}
  .push-1-narrow{margin-left:8.33333%;}
  .push-0-narrow{margin-left:0;}

  .inner-narrow{ padding:0 $padding-screen }
}
@media screen and (max-width: 840px) {
  /* LARGEUR COLONNES */
  .size-12-narrower{width:100%;}
  .size-11-narrower{width:91.6666666667%;}
  .size-10-narrower{width:83.3333333333%;}
  .size-9-narrower{width:75%;}
  .size-8-narrower{width:66.6666666667%;}
  .size-7-narrower{width:58.3333333333%;}
  .size-6-narrower{width:50%;}
  .size-5-narrower{width:41.6666666667%;}
  .size-4-narrower{width:33.3333333333%;}
  .size-3-narrower{width:25%;}
  .size-2-narrower{width:16.6666666667%;}
  .size-1-narrower{width:8.3333333333%;}
//  .size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-narrower{margin-left:91.66667%;}
  .push-10-narrower{margin-left:83.33333%;}
  .push-9-narrower{margin-left:75%;}
  .push-8-narrower{margin-left:66.66667%;}
  .push-7-narrower{margin-left:58.33333%;}
  .push-6-narrower{margin-left:50%;}
  .push-5-narrower{margin-left:41.66667%;}
  .push-4-narrower{margin-left:33.33333%;}
  .push-3-narrower{margin-left:25%;}
  .push-2-narrower{margin-left:16.66667%;}
  .push-1-narrower{margin-left:8.33333%;}
  .push-0-narrower{margin-left:0;}

  .inner-narrower{ padding:0 $padding-screen }
}
@media screen and (max-width: 640px){
  /* LARGEUR COLONNES */
  .size-12-mobile{width:100%;}
  .size-11-mobile{width:91.6666666667%;}
  .size-10-mobile{width:83.3333333333%;}
  .size-9-mobile{width:75%;}
  .size-8-mobile{width:66.6666666667%;}
  .size-7-mobile{width:58.3333333333%;}
  .size-6-mobile{width:50%;}
  .size-5-mobile{width:41.6666666667%;}
  .size-4-mobile{width:33.3333333333%;}
  .size-3-mobile{width:25%;}
  .size-2-mobile{width:16.6666666667%;}
  .size-1-mobile{width:8.3333333333%;}
//  .size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-mobile{margin-left:91.66667%;}
  .push-10-mobile{margin-left:83.33333%;}
  .push-9-mobile{margin-left:75%;}
  .push-8-mobile{margin-left:66.66667%;}
  .push-7-mobile{margin-left:58.33333%;}
  .push-6-mobile{margin-left:50%;}
  .push-5-mobile{margin-left:41.66667%;}
  .push-4-mobile{margin-left:33.33333%;}
  .push-3-mobile{margin-left:25%;}
  .push-2-mobile{margin-left:16.66667%;}
  .push-1-mobile{margin-left:8.33333%;}
  .push-0-mobile{margin-left:0;}

  .inner-mobile{ padding:0 $padding-screen }
}
@media screen and (max-width: 480px) {
  /* LARGEUR COLONNES */
  .size-12-mobilep{width:100%;}
  .size-11-mobilep{width:91.6666666667%;}
  .size-10-mobilep{width:83.3333333333%;}
  .size-9-mobilep{width:75%;}
  .size-8-mobilep{width:66.6666666667%;}
  .size-7-mobilep{width:58.3333333333%;}
  .size-6-mobilep{width:50%;}
  .size-5-mobilep{width:41.6666666667%;}
  .size-4-mobilep{width:33.3333333333%;}
  .size-3-mobilep{width:25%;}
  .size-2-mobilep{width:16.6666666667%;}
  .size-1-mobilep{width:8.3333333333%;}
  //.size-12 + *, .size-11 + *, .size-10 + *, .size-9 + *, .size-8 + *, .size-7 + *, .size-6 + *, .size-5 + *, .size-4 + *, .size-3 + *, .size-2 + *, .size-1 + * {clear:left;}

  .push-11-mobilep{margin-left:91.66667%;}
  .push-10-mobilep{margin-left:83.33333%;}
  .push-9-mobilep{margin-left:75%;}
  .push-8-mobilep{margin-left:66.66667%;}
  .push-7-mobilep{margin-left:58.33333%;}
  .push-6-mobilep{margin-left:50%;}
  .push-5-mobilep{margin-left:41.66667%;}
  .push-4-mobilep{margin-left:33.33333%;}
  .push-3-mobilep{margin-left:25%;}
  .push-2-mobilep{margin-left:16.66667%;}
  .push-1-mobilep{margin-left:8.33333%;}
  .push-0-mobilep{margin-left:0;}

  .inner-mobilep{ padding:0 $padding-screen }
}
